[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
pillow = "*"
django-extensions = "*"
django-crispy-forms = "*"
djangorestframework = "*"
celery = {extras = ["redis"],version = "*"}
django-celery-results = "*"
pydotplus = "*"
ipython = "*"
werkzeug = "*"
django-webpack-loader = "*"
django-debug-toolbar = "*"
toolbar = "*"
django-filter = "*"
django-tables2 = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.8"
