.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

span.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.dropdown-cart{
    width: 100%;
    min-width: 180px;
}
.dropdown-cart table tr{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
.dropdown-cart tr .item:hover{
    background-color:#f3f3f3;
}
.dropdown-cart tr .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.dropdown-cart tr .item-left{
    float:left;
}
.dropdown-cart tr .item-left img,
.dropdown-cart tr .item-left span.item-info{
    float:left;
}
.dropdown-cart tr .item-left img.basket-item-img {
    width: 100%;
    max-width: 40px;
    margin-right: 5px;
}
l.dropdown-cart tr {
    margin-left:10px;
}
.dropdown-cart tr .item-left span.item-info span{
    display:block;
}
.text-gray {
    color: #aaa
}
img.product-detail {
    width: 100%;
    max-width: 180px;
}

.container .card .card-body-product-image {
    height: 230px;
    padding: 0;
    margin: 5px auto;
}

.container .card .card-body-product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 0;
}

div.container .card .card-header.bg-custom-product-card {
    background-color: #c9c9cf;
}

