{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Manage basket - {{ block.super }}{% endblock %}
{% block content %}
    <h2>Basket</h2>
    {% if formset %}
        <h4>You can change your basket</h4>
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <p>
                    {{ form.instance.product.name }}
                    {{ form | crispy }}
                </p>
            {% endfor %}
        </form>
    {% else %}
        <p>You have nothing in the basket.</p>
    {% endif %}
{% endblock %}