<ul class="dropdown-menu dropdown-cart" role="menu">
    {% for line in request.basket.basketline_set.all %}
         <li>
            <span class="item">
                <span class="item-left">
                    <span class="item-info">
                        <span>{{ line.product.name }} - {{ line.quantity }}</span>
                        <span>{{ line.sum_price }} PLN</span>
                    </span>
                </span>
                <span class="item-right">
                    <button class="btn btn-xs btn-danger pull-right">x</button>
                </span>
            </span>
        </li>
    {% endfor %}
    <li class="divider"></li>
    <li><a class="text-center" href="{% url 'main:manage_basket' %}">Manage Basket</a></li>
</ul>
