{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <div class="container py-5">
        <div class="row text-center mb-5">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Product List</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- List group-->
                <ul class="list-group shadow">
                    {% for product in page_obj %}
                        <li class="list-group-item">
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <a href="{% url 'main:product' product.slug %}" style="color: #212529;">
                                        <h5 class="mt-0 font-weight-bold mb-2">{{ product.name }}</h5>
                                    </a>
                                    <p class="font-italic text-muted mb-0 small">{{ product.description }}</p>
                                    <div class="d-flex align-items-center justify-content-between mt-1">
                                        <h6 class="font-weight-bold my-2">PLN {{ product.price }}</h6>
                                    </div>
                                    <p><a href="{% url 'main:add_to_basket' %}?product_id={{ product.id }}"
                                          class="btn btn-success">Add to basket</a></p>
                                </div>
                                <img src="{{ product.productimage_set.first.thumbnail.url }}"
                                     alt="{{ product.name }}" width="200" class="ml-lg-5 order-1 order-lg-2">
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            {% endif %}
            {% for pagenum in page_obj.paginator.page_range %}
                <li class="page-item{% if page_obj.number == pagenum %} active{% endif %}">
                    <a class="page-link" href="?page={{ pagenum }}">{{ pagenum }}</a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}

{% block js %}
<script
        src="https://unpkg.com/react@16/umd/react.production.min.js">
</script>
<script
    src="https://unpkg.com/react-dom@16/umd/react-dom.production.
    min.js">
</script>

<style type="text/css" media="screen">
    .image{
        margin: 10px;
        display: inline-block;
    }
</style>
<script>
const e=React.createElement;

class ImageBox extends React.Component{
    constructor(props){
        super(props);
        this.state = {
            currentImage: this.props.imageStart
        }
    }
click(image){
        this.setState({
            currentImage: image
        });
}

render(){
    const images = this.props.images.map((i)=>
        e('div', {className: "image", key: i.id},
            e('img', {onClick: this.click.bind(this, i),
                width: "100",
                src: i.thumbnail}),
        ),
    );
    return e('div', {className: "gallery"},
        e('div', {className: "current-image"},
            e('img',{src: this.state.currentImage.image})
        ),
        images)
    }
}
document.addEventListener("DOMContentLoaded",
    function(event) {
        var images = [
        {% for image in object.productimage_set.all %}
            {"image": "{{ image.image.url|safe }}",
                "thumbnail": "{{ image.thumbnail.url|safe }}"},
        {% endfor %}
        ]
        ReactDOM.render(
        e(ImageBox, {images: images, imageStart: images[0]}),
            document.getElementById('imagebox')
        );
    });
</script>
    {% render_bundle 'imageswitcher" js' %}
    <script>
        document.addEventListener("DOMContentLoaded", function
            (event){
            var images = [
                {% for image in object.productimage_set.all %}
                    {
                        "image":"{{ image.image.url }}",
                        "thumbnail": "{{ image.thumbnail.url }}"
          },
        {% endfor %}
            ]
            ReactDOM.render(React.createElement(ImageBox,{
                images: images,
                imageStart: images[0]
            }),document.getElementById( 'imagebox'));
        });
</script>
{% endblock %}
