{% extends 'base.html' %}

{% block title %}Home - {{ block.super }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header bg-primary">BLACK FRIDAY DEAL</div>
                    <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                style="width:100%" alt="Image"></div>
                    <div class="card-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">BLACK FRIDAY DEAL</div>
                    <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                style="width:100%" alt="Image"></div>
                    <div class="card-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">BLACK FRIDAY DEAL</div>
                    <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                style="width:100%" alt="Image"></div>
                    <div class="card-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">BLACK FRIDAY DEAL</div>
                    <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                style="width:100%" alt="Image"></div>
                    <div class="card-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">BLACK FRIDAY DEAL</div>
                    <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                style="width:100%" alt="Image"></div>
                    <div class="card-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">BLACK FRIDAY DEAL</div>
                    <div class="card-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                                                style="width:100%" alt="Image"></div>
                    <div class="card-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
        </div>
    </div><br><br>

    <footer class="container-fluid text-center">
        <p>All rights are served</p>
    </footer>
{% endblock %}